@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap");

$green: #36b736;
$light-green: #f1fff1;
$gold: #ffde25;
$brown: #4d2508;
$light-gray: #f5f5f5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $light-gray;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  color: $brown;
}

img {
  vertical-align: middle;
}

h2 {
  font-size: 2.5rem;
  color: $green;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrap {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.7rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 1.6rem;
  overflow: hidden;
}

// Button styling
.btn-main {
  color: $brown;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid $brown;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  text-transform: uppercase;

  &:hover {
    color: $gold;
    border-color: $gold;
  }
}

// Header/Nav
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  gap: 10px;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: rgba(241, 255, 241, 0.9);
  z-index: 10;

  .header-curve {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 29px;
    }

    .shape-fill {
      fill: rgba(241, 255, 241, 0.9);
    }
  }

  .logo {
    color: $green;
    font-size: 3.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;

    a {
      color: $brown;

      &:hover {
        color: $gold;
      }
    }
  }
}

// Hero section
.hero {
  margin-top: 8rem;

  // Background video
  .hero-vid {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.6rem;
    gap: 2rem;

    h1 {
      font-size: 3rem;
      color: $gold;
    }

    p {
      color: $light-gray;
    }

    button {
      color: $light-gray;
      border-color: $light-gray;
    }
  }

  .filter-wrap {
    filter: drop-shadow(0 -0.6rem 1rem rgba(0, 0, 0, 0.5));
  }

  .hero-img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    clip-path: ellipse(100% 95% at 50% 100%);
  }
}

// Information content cards
.info-wrapper {
  background-color: $light-green;
  padding: 2rem 1.6rem;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .info-wave-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(110% + 1.3px);
      height: 30px;
    }
    .shape-fill {
      fill: $light-green;
    }
  }

  .content-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;

    img {
      border: 2px solid $brown;
      border-radius: 0.8rem;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      object-fit: cover;
      width: 100%;
      aspect-ratio: 1/1;

      &:hover {
        border-color: $gold;
      }
    }
    p:hover {
      color: $gold;
      border-color: $gold;
    }
  }
}

// Testimony section
.testimony {
  padding: 6rem 1.6rem;
  background: url("/assets/imgs/animal-6.jpg") no-repeat center;
  background-color: #36b736;
  background-size: cover;

  p {
    color: $green;
    text-align: justify;
  }

  .name {
    margin-top: 0.7rem;
    text-align: right;
  }
}

// Call to action two
.cta-promo {
  position: relative;
  padding: 6rem 1.6rem;
  text-align: center;

  .vid {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .promo {
    flex-direction: column;
    gap: 1rem;

    button {
      margin-top: 0.5rem;
    }
  }
}

// Footer
footer {
  background-color: $light-gray;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  li {
    list-style: none;
  }
}
