:root {
  --darkBlue: #1f2937;
  --lightBlue: #3882f6;
  --lightgray: #e5e7eb;
  --white: #f9faf8;
  --container-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--darkBlue);
  font-family: "Roboto", sans-serif;
  color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 1.5rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-list li a {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  padding: 5rem 0;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: row;
  max-width: var(--container-width);
  margin: 0 auto;
  gap: 3rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  gap: 3rem;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.hero-text p {
  font-size: 1.2rem;
  color: var(--lightgray);
  font-weight: 300;
}

.cta-button {
  background-color: var(--lightBlue);
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
}

.hero-img {
  width: 500px;
  height: 300px;
  flex: 1;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.information {
  background-color: var(--white);
  color: var(--white);
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--container-width);
  gap: 3rem;
  margin: 0 auto;
}

.information h2 {
  color: var(--darkBlue);
  font-size: 2rem;
  font-weight: 900;
}

.features {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: var(--darkBlue);
  font-size: 1rem;
  list-style: none;
}

.features li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.features li img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.testimonial {
  background-color: var(--lightgray);
  color: var(--darkBlue);
}

.testimonial-content {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.testimonial-content i {
  font-size: 2rem;
  font-weight: 300;
}

.testimonial-content span {
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 1rem;
}

.cta {
  background-color: var(--white);
}

.cta-content {
  max-width: var(--container-width);
  background-color: var(--lightBlue);
  border-radius: 0.3rem;
  margin: 0 auto;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cta-content .cta-button {
  border: var(--white) 2px solid;
}

.foot-container {
  text-align: center;
  padding: 2rem;
  color: var(--lightgray);
}
